[submodule "575_tut4_ej19"]
	path = 575_tut4_ej19
	url = git@github.com:einarj03/camera.git
[submodule "575_tut2_ej19"]
	path = 575_tut2_ej19
	url = git@github.com:einarj03/expression_interface.git
[submodule "575_tut5_ej19"]
	path = 575_tut5_ej19
	url = git@github.com:einarj03/fibonacci.git
[submodule "575_tut8_ej19"]
	path = 575_tut8_ej19
	url = git@github.com:einarj03/weather.git
[submodule "575_tut1_lhs19"]
	path = 575_tut1_lhs19
	url = https://github.com/LenniSoenke97/swe-coursework.git
[submodule "575_tut2"]
	path = 575_tut2
	url = https://github.com/LenniSoenke97/swe-coursework.git
[submodule "575_tut3_lhs19"]
	path = 575_tut3_lhs19
	url = https://github.com/LenniSoenke97/swe-coursework.git
[submodule "575_tut7_lhs19"]
	path = 575_tut7_lhs19
	url = https://github.com/LenniSoenke97/swe-coursework.git
